:root {
  color-scheme: dark;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* general */
main {
  height: 100vh;
  display: grid;
  place-content: center;
}

/* container */
.container {
  position: relative;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 1vmax;
  overflow: hidden;
  z-index: 1;
}

h1 {
  text-align: center;
}

/* input & button */

.block > div {
  display: flex;
  padding: 6px;
}

.input-container {
  flex-direction: column;
}

.input-container > div {
  display: flex;
  gap: 10px;
  margin: 8px 0;
}

label {
  width: 70px;
  color: antiquewhite;
}

input {
  width: 100%;
}

input, button {
  color: black;
  background-color: antiquewhite;
  border-color: antiquewhite;
  padding: 8px 12px;
  border-radius: 2vmax;
}

.range {
  padding: 0;
}

.btn-section {
  justify-content: space-around;
}

button:hover {
  cursor: pointer;
}

#reset:hover {
  background-color: tomato;
  border-color: tomato;
}

#copy:hover {
  background-color: limegreen;
  border-color: limegreen;
}

.toast-active {
  width: auto;
  color: black;
  font-size: small;
  font-weight: 600;
  border-radius: 1vmax 0 0 1vmax;
  position: absolute;
  margin: 0;
  padding: 4px 6px;
  right: -24%;
  z-index: -1;
  animation: toast-pop 2s ease-in-out;
}

@keyframes toast-pop {
  0% {
    right: -24%;
  }
  10% {
    right: 0;
  }
  90% {
    right: 0;
  }
  100% {
    right: -24%;
  }
}
