:root {
  color-scheme: dark;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* general */
main {
  height: 100vh;
  display: grid;
  place-content: center;
}

/* container */
.container {
  min-width: 276px;
  position: relative;
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 1vmax;
  overflow: hidden;
  z-index: 1;
}

h1 {
  text-align: center;
}

/* input & button */
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  color: antiquewhite;
}

.input-container > div {
  display: flex;
  padding: 6px;
}

input, button {
  color: black;
  background-color: antiquewhite;
  font-weight: 700;
  border-color: antiquewhite;
  padding: 10px;
}

input {
  border-radius: 1vmax 0 0 1vmax;
}

button {
  border-right: none;
  border-radius: 0 1vmax 1vmax 0;
}

button:hover {
  cursor: pointer;
}

#reset:hover {
  background-color: tomato;
  border-color: tomato;
}

#copy:hover {
  background-color: limegreen;
  border-color: limegreen;
}

.toast-active {
  width: auto;
  color: black;
  font-size: small;
  font-weight: 600;
  border-radius: 1vmax 0 0 1vmax;
  position: absolute;
  margin: 0;
  padding: 4px 6px;
  right: -24%;
  z-index: -1;
  animation: toast-pop 2s ease-in-out;
}

@keyframes toast-pop {
  0% {
    right: -24%;
  }
  10% {
    right: 0;
  }
  90% {
    right: 0;
  }
  100% {
    right: -24%;
  }
}
